<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v keepsyms=1 earlyprintk=serial serial=1 kext-dev-mode=1 debug=0x10a</string>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>Log</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>1</integer>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1024x768</string>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x3</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>11/14/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MM81.88Z.F000.B00.1911142109</string>
		<key>Board-ID</key>
		<string>Mac-7BA5B2DFE22DDD8C</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C07921303CDJA</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>Mini-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>1037.60.58.0.0</string>
		<key>Family</key>
		<string>Mac mini</string>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF466</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFFDFFF7F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x20</string>
		<key>ProductName</key>
		<string>Macmini8,1</string>
		<key>SerialNumber</key>
		<string>C07YR5ZUJYVX</string>
		<key>SmUUID</key>
		<string>E24B8C9A-4D62-4053-9C17-C6E16033A60E</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<true/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<true/>
        <key>FakeCPUID</key>
        <string>0x010676</string>
	</dict>
</dict>
</plist>
